<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <a href="{{ 'projects.html'   | relative_url }}"><h2 >Projects</h2></a>

    <p>Check out my projects</p>
  </div>
  <div class="tech">
      <a href="{{ 'blogs.html'   | relative_url }}"><h2>Blogs</h2></a>

    <p>Check out my blogs </p>
  </div>
  <div class="tech">
    <a href="{{ 'interests.html'   | relative_url }}"><h2>Interests</h2></a>
    <p>Some of my interests</p>
  </div>

</div>
